<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.superdan.app.coolweather"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--检查网络链接-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_coolweather"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5090492281f51798132e7e2a700bc1e1"
            />

        <service android:name="com.amap.api.location.APSService"/>
        <activity android:name=".modules.ui.MainActivity"

            android:screenOrientation="portrait"
            android:label="酷天气"
            android:theme="@style/AppTheme.transpant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.transpant">
        </activity>
        <activity
            android:name=".modules.ui.ChoiceCityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.transpant">
        </activity>
        <activity android:name=".modules.ui.about.AboutActivity"
            android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.transpant"
            />
    </application>

</manifest>
